* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ff6967;
  --grey: #4c4c4c;
  --light-grey: #a6a6a6;
  --red: #ff3f40;
  --white: #fff:
}


body {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: var(--white);
  width: 350px;
  border-radius: 24px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
  padding: 32px 0 32px 32px;
}


.variant ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  width: fit-content;
}

.imgBox img {
  width: 200px;
}

.product-details {
  width: fit-content;
}

.price {
  color: val(--red);
  font-size: 24px;
}

.price span {
  font-size: 46px;
}

.action-btn {
  background-color: var(--red);
  color: var(--white);
  padding: 12px 32px ;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

.product-details 